@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Black.ttf') format('truetype'),
        url('../fonts/Poppins/Poppins-BlackItalic.ttf') format('truetype'),
        url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype'),
        url('../fonts/Poppins/Poppins-BoldItalic.ttf') format('truetype'),
        url('../fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype'),
        url('../fonts/Poppins/Poppins-ExtraBoldItalic.ttf') format('truetype'),
        url('../fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype'),
        url('../fonts/Poppins/Poppins-ExtraLightItalic.ttf') format('truetype'),
        url('../fonts/Poppins/Poppins-Italic.ttf') format('truetype'),
        url('../fonts/Poppins/Poppins-Light.ttf') format('truetype'),
        url('../fonts/Poppins/Poppins-LightItalic.ttf') format('truetype'),
        url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype'),
        url('../fonts/Poppins/Poppins-MediumItalic.ttf') format('truetype'),
        url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype'),
        url('../fonts/Poppins/Poppins-SemiBold.ttf') format('truetype'),
        url('../fonts/Poppins/Poppins-SemiBoldItalic.ttf') format('truetype'),
        url('../fonts/Poppins/Poppins-Thin.ttf') format('truetype'),
        url('../fonts/Poppins/Poppins-ThinItalic.ttf') format('truetype');
}

/*  General Styles  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background: none;
    border: none;
}

button, input {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
.body-1,
.body-2,
.label-1,
.label-2 {
    font-family: 'Poppins;'
}

h1 {
    font-size: 3.375rem;
    line-height: 1.37;
    font-weight: 600;
}

h2 {
    font-size: 3rem;
    line-height: 1.33;
    font-weight: 600;
}

h3 {
    font-size: 2.375rem;
    line-height: 1.47;
    font-weight: 600;
}

h4 {
    font-size: 2.25rem;
    line-height: 1.555;
    font-weight: 500;
}

h5 {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 500;
}

h6 {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 500;
}

.body-1 {
    line-height: 1.75;
}

.body-2 {
    line-height: 1.75;
    font-weight: 500;
}

.label-1 {
    font-size: 1.125rem;
    line-height: 1.777;
    font-weight: 500;
}

.label-2 {
    line-height: 1.75;
    font-weight: 500;
}

.cap-2 {
    font-size: 0.75rem;
    line-height: 2.33;
}

.disabled {
    display: none;
}

.active {
    display: flex;
}

.white {
    color: white;
}

.dark-blue {
    color: #282938;
}

.royal-blue {
    color: #2405F2;
}

.tint-blue {
    color: #1C1E53;
}

.yellow-hover,
.blue-hover {
    transition: all 0.4s ease-out;
}

.yellow-hover:hover {
    color: #1B1C2B;
    background-color: #FDE4A6; 
}

.blue-hover:hover {
    background-color: #535460;
}

body {
    display: flex;
    flex-direction: column;
    row-gap: 128px;
}

/*  Header  */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1C1E53;
    padding: 32px 10%;
    width: 100%;
}

.brand-logo {
    width: 9.5%;
}

.brand-logo img {
    width: 100%;
    height: auto;
}

.nav {
    display: flex;
    gap: 32px;
    align-items: center;
}

.nav a {
    white-space: nowrap;
    color: #BBBBCB;
}

.contact-button {
    color: white;
    border: 2px solid #F4F6FC33;
    padding: 16px 48px;
    border-radius: 41px;
}

/*  Main  */

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*  UX Case Section  */

.ux-case-section {
    text-align: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.ux-case-section h2 {
    margin-bottom: 16px;
}

.ux-case-section .label-2 {
    margin-bottom: 32px;
}

.ux-case-section .label-2 span {
    opacity: 0.87;
}

.ux-case-section img {
    width: 100%;
    height: auto;
    margin-bottom: 48px;
}

/*  Blog Content Section  */

.blog-content-section {
    margin: 0 auto;
    max-width: 842px;
    width: 100%;
}

.blog-content-section h3,
.blog-content-section p:nth-child(6) {
    margin-bottom: 32px;
}

.blog-content-section .body-1 {
    opacity: 0.7;
}

.blog-content-section p:nth-child(2) {
    margin-bottom: 40px;
}

.blog-content-section p:nth-child(4) {
    margin-bottom: 24px;
}

.blog-content-section ul {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-bottom: 24px;
}

.blog-content-section ul li {
    list-style: circle inside;
}

.blog-content-section img {
    width: 100%;
    height: auto;
    margin-bottom: 56px;
}

/*  Footer  */

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer-section .body-2,
.footer-section .label-2 {
    opacity: 0.8;
}

.footer-section {
    display: flex;
    gap: 142px;
    background-color: #1C1E53;
    position: relative;
    width: 100%;
    padding: 100px 0 100px 160px;
}

.logo-contact-container {
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    width: 32.3%;
}

.logo-contact-container a {
    width: 30.2%;
}

.logo-contact-container a img {
    width: 100%;
    height: auto;
}

.contact-container {
    display: grid;
    grid-template-columns: 35% 35%;
    column-gap: 29px;
    padding: 18px 0 16px 37px;
    width: 32.3125%;
    background-color: #FCD980;
    position: absolute;
    bottom: 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    justify-content: center;
    max-width: 399px;
    width: 100%;
}

.footer-content article {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}

.footer-content article p {
    color: #F4F6FC;
}

.social-links-container {
    display: flex;
    column-gap: 27px;
    width: 36%;
}

.social-links-container a {
    width: 11.11%;
}

.social-links-container a img {
    width: 100%;
    height: auto;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 32px 0;
}

.footer div {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
}

.footer div p {
    color: #282938;
}

.footer-nav {
    display: flex;
    column-gap: 32px;
}

.footer-nav a {
    color: #282938;
}

/*  Media Queries  */

@media only screen and (max-width: 1104px) {
    .footer-section {
        column-gap: 182px;
        padding-left: 80px;
    }

    .contact-container {
        width: 45%;
    }
}

@media only screen and (max-width: 873px) {
    html {
        font-size: 0.875rem;
    }
    
    .brand-logo {
        width: 15.5%;
    }

    .nav {
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 0;
        right: -100%;
        background-color: #FCD980;
        height: 100%;
        padding: 0 20px;
        transition: right 0.6s ease-out;
        z-index: 10;
    }

    .nav a {
        color: #1C1E53;
    }

    .contact-button {
        border-color: #1C1E53;
        color: #1C1E53;
    }

    .nav.menu-disabled {
        right: -100%;
    }
    
    .nav.menu-active {
        right: 0;
    }

    .menu {
        display: flex;
        font-size: 1.5rem;
        transition: transform 0.4s ease-out;
    }

    .logo-contact-container {
        justify-content: center;
    }

    .logo-contact-container a {
        width: 60%;
    }

    .contact-container {
        display: none;
    }

    .social-links-container {
        width: 45%;
    }
}

@media only screen and (max-width: 645px) {
    html {
        font-size: 0.75rem;
    }

    .contact-button {
        padding: 12px 40px;
    }

    .ux-case-section {
        max-width: 500px;
    }

    .blog-content-section {
        max-width: 500px;
        text-align: center;
    }

    .footer-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .logo-contact-container {
        align-items: center;
    }

    .footer-content {
        align-items: center;
    }

    .social-links-container {
        justify-content: center;
        width: 60%;
    }

    .footer-section {
        padding-left: 0;
    }

    .footer div {
        justify-content: center;
    }
    
    .footer-nav {
        display: none;
    }
}

@media only screen and (max-width: 445px) {
    .brand-logo {
        width: 23%;
    }

    .contact-button {
        padding: 12px 32px;
    }

    .logo-contact-container a {
        width: 70%;
    }   
}